body {
    box-sizing: border-box;
}
.reference {
    padding: 30px;
    box-sizing: border-box;
    background: radial-gradient(circle at 100% 30%, rgba(26, 124, 93, 0.651), transparent);
    min-height: 100vh;
}
h1 {
}

code, input, select, button {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 3px;
    border-radius: 3px;
    border: solid 1px;
    margin: 2px;
}

td {
    margin-right: 10px;
    padding-right: 20px;
    box-sizing: border-box;
}

input, select, button {
    color: white;
    border-color: transparent;
    padding: 10px;
    font-family: inherit;
}

button {
    transition: 0.2s;
    border-radius: 100vmin;
}
button:hover {
    border-color: white;
}
button:active {
    opacity: 0.5;
}