{% extends "base.html" %}
{% block title %}404 {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/ref.css" />
{% endblock %}
{% block content %}
<div class="reference" id="ref">
    <h1>404</h1>
    <p class="nav">
        <a href="/">Home</a> • <a href="/docs">Docs</a> • <a href="/explore">Explore</a> • <a href="https://github.com/rockwillck/smilesdb">Github</a>        
    </p>
    <p>Not found.</p>
    <p>If there's supposed to be something here, check <a href="https://stats.uptimerobot.com/jOtICdkMFO">UptimeRobot</a>.</p>
</div>
{% endblock %}