<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Docs | SmilesDB</title>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="description" content="A SMILES-first molecular database API" />
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	<link rel="stylesheet" type="text/css" href="/static/ref.css" />
	<link rel="icon" href="/static/icon.svg">
</head>
<body>
    <div class="reference">
        <h1>Documentation</h1>
        <p class="nav">
            <a href="/">Home</a> • <a href="/explore">Explore</a> • <a href="https://github.com/rockwillck/smilesdb">Github</a>        
        </p>
        <h2>Table of Contents</h2>
        <ol id="toc">
        </ol>

        <h2>SMILES Database</h2>
        <p>The SMILES Database contains only SMILES strings and no other data. It can be queried using <code>GET</code> endpoints.</p>
        <code>/api/smiles/full</code>
        <p>Gets the full list of SMILES strings as a JSON list.</p>
        <code>/api/smiles/random/n_</code>
        <p>Returns n_ random SMILES strings.</p>
        <code>/api/smiles/short/n_</code>
        <p>Returns n_ shortest SMILES strings.</p>
        <code>/api/smiles/long/n_</code>
        <p>Returns n_ longest SMILES strings.</p>
        
        <h2>Full Database</h2>
        <p>The database contains SMILES strings and auxillary data. It can be queried using <code>GET</code> endpoints.</p>
        <code>/api/full</code>
        <p>Gets the full list of molecules as a JSON list of JSON objects.</p>
        <p>Each JSON will have some (but not necessarily all) of the following:</p>
        <table>
            <tr>
                <td><code>SMILES</code></td>
                <td>SMILES string</td>
            </tr>
            <tr>
                <td><code>formula</code></td>
                <td>Molecular formula</td>
            </tr>
            <tr>
                <td><code>weight</code></td>
                <td>Molecular weight</td>
            </tr>
            <tr>
                <td><code>num_atoms</code></td>
                <td>Number of atoms</td>
            </tr>
            <tr>
                <td><code>num_bonds</code></td>
                <td>Number of bonds</td>
            </tr>
            <tr>
                <td><code>LogP</code></td>
                <td>Wildman-Crippen LogP value</td>
            </tr>
            <tr>
                <td><code>TPSA</code></td>
                <td>TPSA value</td>
            </tr>
            <tr>
                <td><code>rotatable_bonds</code></td>
                <td>Number of rotatable bonds</td>
            </tr>
            <tr>
                <td><code>hbond_donors</code></td>
                <td>Number of H-bond donors</td>
            </tr>
            <tr>
                <td><code>hbond_acceptors</code></td>
                <td>Number of H-bond acceptors</td>
            </tr>
        </table>
        <br>
        <code>/api/random/n_</code>
        <p>Returns n_ random molecule JSON objects.</p>
        <code>/api/short/n_</code>
        <p>Returns n_ shortest molecule JSON objects.</p>
        <code>/api/long/n_</code>
        <p>Returns n_ longest molecule JSON objects.</p>
        <h2>License</h2>
        <p>The SmilesDB database is licensed under a <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a> in accordance with the license of ChemBL. This allows use, redistribution, and adaption of SmilesDB as long as appropriate attribution is given and any adaptations are redistributed under the same license.</p>
        <h2>Cite</h2>
        <p>There is not yet an official citation for SmilesDB.</p>
    </div>
    <script>
        i = 0
        for (h of document.getElementsByTagName("h2")) {
            h.id = `${i}`
            document.getElementById("toc").innerHTML += `<li><a href="#${i}">${h.innerText}</a></li>`
            i++
        }
    </script>
</body>
</html>