<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Citations | SmilesDB</title>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="description" content="A SMILES-first molecular database API" />
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	<link rel="stylesheet" type="text/css" href="/static/ref.css" />
	<link rel="icon" href="/static/icon.svg">
</head>
<body>
    <div class="reference" id="ref">
        <h1>Explore</h1>
        <p class="nav">
            <a href="/">Home</a> • <a href="/docs">Docs</a> • <a href="https://github.com/rockwillck/smilesdb">Github</a>        
        </p>
        <p>Coming soon...</p>
    </div>
</body>
</html>